[submodule "deferred"]
	path = deferred
	url = https://github.com/kseebaldt/deferred.git
[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Externals/PivotalCoreKit"]
	path = Externals/PivotalCoreKit
	url = git@github.com:pivotal/PivotalCoreKit.git
